<section th:fragment="index" class="ds-email-section">
    <div class="container">
        <section class="ds-languages-section">
            <h2 class="section-title" style="color: white">Diller</h2>
            <div class="languages-grid">
                <div th:each="language : ${languages}" class="languages-card">
                    <h3 th:text="${language.NAME}" style="color: black">HTML</h3>
                    <div class="bar">
                        <div class="languagesprogress" th:style="'width: ' + ${language.LEVEL} + '%;'"></div>
                    </div>
                    <span class="languages-level" th:text="${language.LEVEL} + '%'">80%</span>
                </div>
            </div>
        </section>
    </div>
    <style>
        .ds-languages-section {
            background-color: black;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }

        .section-title {
            text-align: center;
            font-size: 2.5em;
            margin-bottom: 30px;
            color: #2c3e50;
        }

        .languages-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;
        }

        .languages-card {
            background: #ecf0f1;
            border-radius: 8px;
            padding: 15px;
            text-align: center;
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .languages-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
        }

        .bar {
            background-color: #bdc3c7;
            border-radius: 5px;
            height: 10px;
            margin: 10px 0;
            overflow: hidden;
        }

        .languagesprogress {
            height: 100%;
            background-color: #98fe00; /* Mavi ton */
            border-radius: 5px;
            transition: width 0.3s ease;
        }

        .languages-level {
            font-weight: bold;
            margin-top: 5px;
            color: #34495e;
        }
    </style>
</section>

