<section th:fragment="index" class="ds-projects-section">
    <div class="container">
        <h2><span>Sertifikalar</span>Sertifikalarımdan birkaçına göz atın.</h2>
        <div class="row ds-projects-listing-section">
            <div th:each="sertifika : ${s_image_dbList}" class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ds-projects-loop">
                <figure>
                    <a th:href="${sertifika.sertifikaUrl}" class="ds-link-button" target="_blank">
                        <i class="ri-external-link-line"></i>
                    </a>
                    <img th:src="@{/index/images/{imageName}(imageName=${sertifika.imageName})}" class="ds-image-shadow transition" />
                </figure>
                <section>
                    <h3 th:text="${sertifika.imageName}">Project Name</h3>
                    <span th:text="${sertifika.sertifikaDescription}">Project Description</span>
                </section>
            </div>
        </div>
    </div>
    <style>
        .ds-projects-loop img {
            width: 100%; /* Ebeveyn alanını kaplaması için */
            height: 50cap; /* Sabit yükseklik ayarla */
            object-fit: cover; /* Resmin orantılı kesilmesini sağlar */
        }
    </style>
</section>
