<div class="row container-fluid" th:fragment="admin">
    <div>
        <div class="card">
            <div class="card-header pb-0 px-3">
                <h6 class="mb-0">Forums Information</h6>
            </div>
            <div class="card-body pt-4 p-3">
                <ul class="list-group">
                    <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg" th:each="forum : ${forums}">
                        <div class="d-flex flex-column">
                            <h6 class="mb-3 text-sm" th:text="${forum.forumName}">Forum Name</h6>
                            <span class="mb-2 text-xs">Email: <span class="text-dark font-weight-bold ms-sm-2" th:text="${forum.forumEmail}">example@example.com</span></span>
                            <span class="mb-2 text-xs">Chat: <span class="text-dark font-weight-bold ms-sm-2" th:text="${forum.forumChat}">Chat Link</span></span>
                        </div>
                        <div class="ms-auto text-end">
                            <form th:action="@{/admin/forum/delete/{id}(id=${forum.id})}" method="post" style="display:inline;" onsubmit="return confirmDeletion();">
                                <button type="submit" class="btn btn-link text-danger text-gradient px-3 mb-0">
                                    <i class="far fa-trash-alt me-2"></i>Delete
                                </button>
                            </form>
                        </div>
                    </li>
                </ul>

                <div class="pagination mt-3">
                    <span th:if="${currentPage > 0}">
                        <a th:href="@{/admin/forum(page=${currentPage - 1})}">Previous</a>
                    </span>
                    <span class="mx-2">Page <span th:text="${currentPage + 1}"></span> of <span th:text="${totalPages}"></span></span>
                    <span th:if="${currentPage < totalPages - 1}">
                        <a th:href="@{/admin/forum(page=${currentPage + 1})}">Next</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


